WCFSecondClient/Service References/RoleService/RoleService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RoleService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.5.108/RoleService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.5.108/RoleService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.5.108/RoleService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFSecondDemo" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRoleService_Get_InputMessage">
    <wsdl:part name="parameters" element="tns:Get" />
  </wsdl:message>
  <wsdl:message name="IRoleService_Get_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetResponse" />
  </wsdl:message>
  <wsdl:message name="IRoleService_GetAll_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAll" />
  </wsdl:message>
  <wsdl:message name="IRoleService_GetAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllResponse" />
  </wsdl:message>
  <wsdl:message name="IRoleService_AddString_InputMessage">
    <wsdl:part name="parameters" element="tns:AddString" />
  </wsdl:message>
  <wsdl:message name="IRoleService_AddString_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddStringResponse" />
  </wsdl:message>
  <wsdl:message name="IRoleService_AddJson_InputMessage">
    <wsdl:part name="parameters" element="tns:AddJson" />
  </wsdl:message>
  <wsdl:message name="IRoleService_AddJson_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddJsonResponse" />
  </wsdl:message>
  <wsdl:message name="IRoleService_GetTimes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTimes" />
  </wsdl:message>
  <wsdl:message name="IRoleService_GetTimes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTimesResponse" />
  </wsdl:message>
  <wsdl:portType name="IRoleService">
    <wsdl:operation name="Get">
      <wsdl:input wsaw:Action="http://tempuri.org/IRoleService/Get" message="tns:IRoleService_Get_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRoleService/GetResponse" message="tns:IRoleService_Get_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IRoleService/GetAll" message="tns:IRoleService_GetAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRoleService/GetAllResponse" message="tns:IRoleService_GetAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddString">
      <wsdl:input wsaw:Action="http://tempuri.org/IRoleService/AddString" message="tns:IRoleService_AddString_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRoleService/AddStringResponse" message="tns:IRoleService_AddString_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddJson">
      <wsdl:input wsaw:Action="http://tempuri.org/IRoleService/AddJson" message="tns:IRoleService_AddJson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRoleService/AddJsonResponse" message="tns:IRoleService_AddJson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTimes">
      <wsdl:input wsaw:Action="http://tempuri.org/IRoleService/GetTimes" message="tns:IRoleService_GetTimes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRoleService/GetTimesResponse" message="tns:IRoleService_GetTimes_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRoleService" type="tns:IRoleService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Get">
      <soap:operation soapAction="http://tempuri.org/IRoleService/Get" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAll">
      <soap:operation soapAction="http://tempuri.org/IRoleService/GetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddString">
      <soap:operation soapAction="http://tempuri.org/IRoleService/AddString" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddJson">
      <soap:operation soapAction="http://tempuri.org/IRoleService/AddJson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTimes">
      <soap:operation soapAction="http://tempuri.org/IRoleService/GetTimes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RoleService">
    <wsdl:port name="BasicHttpBinding_IRoleService" binding="tns:BasicHttpBinding_IRoleService">
      <soap:address location="http://192.168.5.108/RoleService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>